:root {
  font-family: 'Red Hat Display', sans-serif;

  /* primary */
  --p-blue: hsla(245, 75%, 52%, 1);
  --p-dark-blue: hsla(223, 46%, 23%, 1);
  --p-lt-blue: hsla(245, 83%, 68%, 1);
  /* neutral */
  --n-dark-gray: hsla(224, 23%, 55%, 1);
  --n-lt-gray: hsla(228, 100%, 99%, 1);
  --n-white: hsla(0, 0%, 100%, 1);
  --n-bg: hsla(225, 100%, 94%, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* img {
  display: block;
}

* a {
  text-decoration: none;
  color: inherit;
}

* button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background: url(./images/pattern-background-desktop.svg) no-repeat var(--n-bg);
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 36px;
  border-radius: 20px;
  max-width: 450px;

  background-color: var(--n-white);
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  transition: ease-in 0.5s;
}

.container:hover {
  box-shadow: 15px 70px 70px -10px rgba(13, 48, 189, 0.231);
  transition: ease-in 0.5s;
}

.card {
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.hero-container {
  display: block;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  transform: scale(1);
}

.hero-container img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: ease-in-out 1s;
}

.hero-img:hover {
  transform: scale(1.1);
  filter: hue-rotate(60deg);
  transition: ease-in-out 1s;
}

.container h1 {
  font-size: 1.75rem;
  font-weight: 900;
  padding-bottom: 24px;
  color: var(--p-dark-blue);
}

.container p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: var(--n-dark-gray);
}


.plan {
  text-align: left;
  }

.plan-type {
  font-weight: 900;
  color: var(--p-dark-blue);
}

.plan-type,
.plan-price {
  font-size: 1rem;
}

.card>p {
  padding-bottom: 24px;
}

.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 11px;
  padding: 28px;
  background-color: var(--n-lt-gray);
}

.change {
  font-weight: 900;
  font-size: 0.95rem;
  text-decoration: none;
  margin-left: 60px;
  color: var(--p-blue);
  position: relative;
}

.change:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: var(--p-blue);
  margin-top: -4px;
  transition: ease-in 0.5s;
}

.change:hover {
  color: var(--p-lt-blue);
  cursor: pointer;
}

.change:hover:after {
  background-color: var(--p-lt-blue);
  width: 0%;
}

.cancel-order {
  display: block;
  font-weight: 700;
  color: var(--n-dark-gray);
  margin-top: 32px;
  transition: ease-in 0.3s;
}

.cancel-order:hover {
  color: var(--p-dark-blue);
  transition: ease-in 0.5s;
  cursor: pointer;
}

.payment-checkout {
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  align-items: center;
  text-align: center;

  border-radius: 11px;
  padding: 15px;
  margin-top: 32px;

  font-size: 1rem;
  font-weight: 700;

  color: var(--n-white);
  background-color: var(--p-blue);
  filter: drop-shadow(0px 8px 6px rgba(7, 23, 255, 0.245));
  transition: ease-in 0.3s;
}

.button:hover {
  background-color: var(--p-lt-blue);
  transition: ease-in 0.5s;
  cursor: pointer;
}


@media (max-width: 500px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }

  .card {
    padding: 34px 16px;
  }

  .card h1 {
    font-size: 1.375rem;
  }

  .container p {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }

  .plan-type,
  .plan-price {
    font-size: 0.875rem;
  }

  .payment {
    gap: 24px;
    padding: 16px 14px;
  }

  .change {
    margin-left: 26px;
  }

}

@media (max-width: 360px) {
  .change {
    margin: 0;
  }
}

@media (max-width: 330px) {
  .payment {
    flex-direction: column;
    gap: 4px;
    padding: 12px;
  }

  .container p,
  .plan-type,
  .change {
    font-size: 0.75rem;
    line-height: 1.4;
  }

  .icon img {
    width: 32px;
    height: 32px;
  }

  .plan-price,
  .plan-price {
    text-align: center;
    font-size: 0.875rem;
  }

  .change {
    margin: 0;
  }

  .card {
    padding: 20px;
  }

  .card h1 {
    font-size: 1.2rem;
    padding-bottom: 12px;
  }

  .card>p {
    padding-bottom: 12px;
  }

  .plan-price {
    padding: 0;
  }

  .button {
    font-size: 0.75rem;
    margin-top: 18px;
    padding: 12px;
  }

  .cancel-order {
    margin-top: 18px;
    font-size: 0.75rem;
  }
}
